.titleBanner{
    font-size: 40px;
    font-family: "Comic Sans MS";
    text-align: center;
}

#banner1{
    border-radius: 50%;
    width: 500px;
}

#banner1:hover{
    border-width: 5px;
    border-style: outset;
    border-color: #432fa3;
}